@model IEnumerable<demoDACNPMNC.Models.order>
@{
    Layout = "~/Views/Shared/ADLayout.cshtml";
    <title>ManagementPending</title>

    <script src="https://kit.fontawesome.com/c0b1a641d5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        a{
            text-decoration: none!important;
        }
    </style>

}

<h2>Đơn Hàng Đang Chờ Xác Nhận</h2>
<div>
    <table class=" table table-bordered">
        <tr>
            <th>Tên Khách Hàng</th>
            <th>Mã Hóa Đơn</th>
            <th>Ngày Mua</th>
            <th>Tình Trạng Đơn</th>
            <th>Tổng Tiền</th>
            <th>Chi Tiết</th>
            <th>Xác Nhận</th>
            <th>Hủy Bỏ</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                </td>
                <td>
                    Đang chờ xác nhận
                </td>
                <td>
                    @string.Format("{0:N0} đ", Double.Parse(item.total_price.ToString()))
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "DetailOrder", new { id_order = item.id_order }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    <a href="@Url.Action("AcceptPending","User", new {id_order = item.id_order })" style="display: inline-block; position: relative; padding: 5px 10px; border: none; border-radius: 5px; background-color: #2196F3; color: #fff; cursor: pointer; text-decoration: none;"> <i class="fa-solid fa-check"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("CancelOrder","User",new {id_order = item.id_order })" style="display: inline-block; position: relative; padding: 5px 10px; border: none; border-radius: 5px; background-color: red; color: #fff; cursor: pointer; text-decoration: none;"> <i class="fa-solid fa-xmark"></i> </a>
                </td>
            </tr>
        }
    </table>
</div>