@model IEnumerable<He_thong_ban_DT_online.Models.DONDATHANG>

@{
    ViewBag.Title = "DonHangMoi";
    Layout = "~/Views/Shared/ADLayout.cshtml";
}
<style>
    tr {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    th, td {
        background-color: #f9f9f9;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    li:hover {
        background-color: #ddd;
    }

    h2 {
        text-align: center;
    }
</style>
<h2>Danh sách đơn hàng mới</h2>

<table>
    <tr>
        <th>Mã đơn hàng</th>
        <th>Khách hàng</th>
        <th>Ngày đặt hàng</th>
        <th>Tổng tiền</th>
        <th>Trạng thái đơn hàng</th>
        <th>Hình thức thanh toán</th>
        <th>Thao tác</th>
    </tr>
    @foreach (var donhang in Model)
    {
        <tr>
            <td>@donhang.MaDH</td>
            <td>@donhang.KHACHHANG.HoTenKH</td>
            <td>@donhang.NgayDH</td>
            <td>@string.Format("{0:N0} VNĐ", donhang.TongTien)</td>
            <td>@donhang.TRANGTHAIDONHANG.TenTrangThai</td>
            <td>@donhang.HINHTHUCTHANHTOAN.TenHTTT</td>
            <td>
                <a href="@Url.Action("CapNhatTTDH","Admin", new { id = donhang.MaDH })" class="btn btn-danger"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("XemChiTietDonHang","Admin", new { id = donhang.MaDH })" class="btn btn-primary"><i class="fas fa-info-circle"></i></a>
            </td>
        </tr>
    }
</table>


