@model He_thong_ban_DT_online.Models.SANPHAM

@{
    ViewBag.Title = "ThemSP";
    Layout = "~/Views/Shared/ADLayout.cshtml";
    <link href="~/Content/CSSthemSP.css" rel="stylesheet" />
}

<h2>THÊM SẢN PHẨM MỚI</h2>

@using (Html.BeginForm("ThemSP", "Admin", FormMethod.Post, new{@enctype ="multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal custom-form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Tên điện thoại
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mô tả
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Hình ảnh
            <div class="col-md-10">
                <input type="file" name="Hinhminhhoa" />
                @Html.ValidationMessageFor(model => model.HinhMinhHoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Hãng
            <div class="col-md-10">
                @Html.DropDownList("MaBrand", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaBrand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Nhà sản xuất
            <div class="col-md-10">
                @Html.DropDownList("MaNSX", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số lượng nhập
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoluongTon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoluongTon, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            Đơn giá
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dongia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dongia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Màu sắc
            <div class="col-md-10">
                @Html.EditorFor(model => model.MauSac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MauSac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Màn hình
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManHinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ManHinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Cấu hình
            <div class="col-md-10">
                @Html.EditorFor(model => model.CauHinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CauHinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Bộ nhớ trong
            <div class="col-md-10">
                @Html.EditorFor(model => model.BoNhoTrong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BoNhoTrong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Camera chính
            <div class="col-md-10">
                @Html.EditorFor(model => model.Camera_main, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Camera_main, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Hệ điều hành
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeDieuHanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeDieuHanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Thẻ Sim
            <div class="col-md-10">
                @Html.EditorFor(model => model.TheSim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TheSim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Dung lượng pin
            <div class="col-md-10">
                @Html.EditorFor(model => model.DungLuongPin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DungLuongPin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Dung lượng Ram
            <div class="col-md-10">
                @Html.EditorFor(model => model.DungLuongRam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DungLuongRam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Công nghệ sạc
            <div class="col-md-10">
                @Html.EditorFor(model => model.CongNgheSac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CongNgheSac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Độ phân giải
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoPhanGiai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoPhanGiai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Cổng sạc
            <div class="col-md-10">
                @Html.EditorFor(model => model.CongSac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CongSac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Bảo hành
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaoHanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaoHanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Kích thước
            <div class="col-md-10">
                @Html.EditorFor(model => model.KichThuoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KichThuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Khối lượng
            <div class="col-md-10">
                @Html.EditorFor(model => model.KhoiLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KhoiLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày sản xuất
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySX, new { htmlAttributes = new { @class = "form-control",@type="date" } })
                @Html.ValidationMessageFor(model => model.NgaySX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
