<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/StyleHeaderFooter.css" rel="stylesheet" />
    <link href="~/Content/StyleBrand.css" rel="stylesheet" />
    <link href="~/Content/StyleDetail.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/c0b1a641d5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .area-shop:hover .nav_sub_erea {
            display: block;
        }
        .nav_sub_erea {
            text-decoration: none;
            display: none;
            border-radius: 10px;
            background-color: grey;
        }
        .nav_sub_erea p{
            margin-bottom: 2px;
            cursor: pointer;
        }
        .nav_sub_erea p:hover {
            background-color: rgb(206, 143, 7);
        }
        
    </style>

</head>
<body>
    <div>
        <div id="header">
            <div class="main_header">
                <div class="nav ">
                    <i class="fa-solid fa-list-ul list_menu">
                        <div class="sidebar_menu" style="height: 385px;">
                            @*<li>@Html.ActionLink("Trang chủ", "Index", "Home", new { style = "color: black; text-decoration: none;" })</li>*@
                            <li> <a style = "color: black; text-decoration: none;" href="@Url.Action("Index", "Home")"> Trang Chủ</a></li>

                            @{
                                demoDACNPMNC.Models.QLBANDIENTHOAIEntities db = new demoDACNPMNC.Models.QLBANDIENTHOAIEntities();
                                var getBrand = db.BRANDs.ToList() as List<demoDACNPMNC.Models.BRAND>;
                                foreach (var item in getBrand)
                                {
                                    <li>
                                        @*@Html.ActionLink("Apple", "Brand", new { brand = "Apple", style = "color: black; text-decoration: none;" })*@
                                        <a style="color: black; text-decoration: none;" href="@Url.Action("Brand", "Home", new {brand = @item.TenBrand })">@item.TenBrand</a>
                                    </li>
                                }
                            }
                        </div>
                    </i>
                    <p class="name-shop"> T0BiTo</p>
                    <div class="area-shop" style="position: relative; min-width: 120px; cursor: pointer;">
                        <span>Khu vực:</span>
                        <span id="khuvuc" style="margin-left: 5px;">TP Hồ Chí Minh</span>
                        <div class="nav_sub_erea" style="position: absolute; top: 100%; width: 150px; padding: 5px;">
                            <p onclick="change_kv(1)">TP Hồ Chí Minh</p>
                            <p onclick="change_kv(2)">TP Hà Nội</p>
                            <p onclick="change_kv(3)">TP Đà Nẵng</p>
                            <p onclick="change_kv(4)">TP Bình Dương</p>
                        </div>
                    </div>
                    @*<div class="marrl5 area_header curs area-shop ">
                        <span>Khu Vực</span>
                        <b class="nav-arrow-down ti-angle-down"></b>
                        <div id="khuvuc" style="margin-top: 2px; margin-left: 3px">TP HCM </div>
                        <ul class="subnav">
                            <li onclick="change_kv(1)"><a href="#" class="ti-location-pin">TP Hồ Chí Minh</a></li>
                            <li onclick="change_kv(2)"><a href="#" class="ti-location-pin">Hà Nội</a></li>
                            <li onclick="change_kv(3)"><a href="#" class="ti-location-pin">TP Đà Nẵng</a></li>
                            <li onclick="change_kv(4)"><a href="#" class="ti-location-pin">Bình Dương</a></li>
                            <li onclick="change_kv(5)"><a href="#" class="ti-location-pin">Hải Phòng</a></li>
                        </ul>
                    </div>*@
                </div>
                <div class="search_btn w-25 " >
                    @*<input type="search" placeholder="bạn cần tìm gì?" name="searchInput" />
                    <a href="@Url.Action("Search", "Home")">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>*@
                    <form method="get" class="search_btn_try" action="/Home/Search" style="display: flex">
                        <input type="text" name="search" placeholder="Tìm kiếm sản phẩm...">
                        <button style="border: none; background-color: white;" type="submit" class="fa-solid fa-magnifying-glass"></button>
                        @*<button type="submit" style="border: none"><i class="fa-solid fa-magnifying-glass"></i></button>*@ 
                    </form>
                </div>
                <div class="last_header">
                    <div class="number_phone">
                        <i class="fa-solid fa-blender-phone"></i>
                        <div class="khoi">
                            <span> Gọi Mua Ngay</span>
                            <span>0904962412</span>
                        </div>
                    </div>
                    <a href="@Url.Action("SearchOrder","Home")" style="text-decoration: none; color: white">
                        <div class="search_area">
                            <i class="fa-solid fa-location-dot"></i>
                            <span> Tra Cứu Đơn Hàng</span>
                        </div>
                    </a>
                    <a class="link-no-underline" href="@Url.Action("HienThiGioHang", "Cart")" style="text-decoration: none;">
                        <div class="cart" style="color: white; ">
                            <i class="fa-solid fa-cart-plus"></i>
                            <p>Giỏ Hàng</p>
                            @if (Session["totalCart"] == null)
                            {
                                <span>0</span>
                            }
                            else
                            {
                                <span>@(Session["totalCart"].ToString())</span>
                            }
                        </div>
                    </a>
                    @* log-in-out user *@
                    <div class="login">
                        <a href="@Url.Action("Profile","Home")">
                            <img src="~/images/login_icon_full.png" alt="" id="logo_login" class="img_login">
                        </a>
                        <div class="sublogin">
                            <a href="@Url.Action("DangNhap", "User")" id="login_on" onclick="change_logo_user()">
                                <li style=" display: flex; justify-content: center;"> Đăng Nhập</li>
                            </a>
                            <a href="@Url.Action("DangKy", "User")">
                                <li style=" display: flex; justify-content: center;"> Đăng Ký</li>
                            </a>
                            <a href="@Url.Action("DangXuat", "User")">
                                <li style=" display: flex; justify-content: center;"> Đăng Xuất</li>
                            </a>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>

    <div class="ab_footer">
        <div class="head_footer">
            <ul>
                SUPPORT
                <li> Product Support </li>
                <li> Order Support </li>
                <li> Account Support </li>
                <li> Register For Admin</li>
                <li> Community </li>
            </ul>
            <ul>
                SOCIAL
                <li> Facebook </li>
                <li> Instagram </li>
                <li> Youtube </li>
                <li> Twitter</li>
            </ul>
            <ul>
                SOCIAL
                <li> Facebook </li>
                <li> Instagram </li>
                <li> Youtube </li>
                <li> Twitter</li>
            </ul>
            <ul>
                SOCIAL
                <li> Facebook </li>
                <li> Instagram </li>
                <li> Youtube </li>
                <li> Twitter</li>
            </ul>
        </div>
        <div class="footer">
            <div class="coypyright">
                <p>
                    &#169; © 2021. Công ty cổ phần TOBITO. GPDKKD: 01241231909
                    Địa chỉ: 2.25 Phan Thúc Duyện, Phường 4, Quận Tân Bình, Thành Phố Hồ Chí Minh. Điện thoại: 028
                    38125960.
                    GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 11/2021.
                    Email: ltthanh22112002@gmail.com. Chịu trách nhiệm nội dung:
                    Lê Tiến Thành <a href="">Xem chính sách sử dụng</a>
                </p>
            </div>
        </div>

    </div>


    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div>
                <i class="fa-solid fa-xmark modal-close js-modal-close"></i>
            </div>

            <header class="modal-header">
                <i class="modal-heading-icon ti-bag"></i>
                Buy
            </header>
            <div class="modal-body">
                <label for="tiket-quantity" class="modal-label">
                    <div class="ti-shopping-cart"></div>
                    <div id="name_buy"></div>
                </label>
                <input id="tiket-quantity" type="text" class="modal-input" placeholder="Số lượng?">

                <label for="buy-quantity" class="modal-label">
                    <div class="ti-user"></div>
                </label>
                <input id="buy-quantity" type="tel" class="modal-input" placeholder="Số điện thoại của bạn...">

                <button id="buy-tickets">
                    Thanh Toán <i class="ti-check"></i>
                </button>
            </div>

            <footer class="modal-footer">
                <p class="modal-help">Need <a href="">help?</a></p>
            </footer>
        </div>
    </div>

    <!-- show and hide buy -->
    <script>
        const buyBtns = document.querySelectorAll(".btn_buy button")
        const modal = document.querySelector('.js-modal')
        const modalClose1 = document.querySelector('.js-modal-close')
        const modalContainer = document.querySelector('.js-modal-container')

        // function Show/hide buy tickets
        function showBuyTicket(event) {
            var buton = event.target;
            var box = buton.parentElement.parentElement;
            document.getElementById("name_buy").innerText = box.querySelectorAll('.name_sp span')[0].innerText + "//"
                + box.querySelectorAll('.price span')[0].innerText;
            modal.classList.add('open')
        }

        function hideBuyTicket() {
            modal.classList.remove('open')
        }
        // lap tung button va ngh click
        for (var i = 0; i < buyBtns.length; i++) {
            if (i % 2 === 0) {
                var buton = buyBtns[i];
                buton.addEventListener('click', showBuyTicket);
            }
        }
        // nghe hanh vi click vao button close
        modalClose1.addEventListener('click', hideBuyTicket)

        modal.addEventListener('click', hideBuyTicket)
        // cham ngoai vung buy ticket de out ra
        modalContainer.addEventListener('click', function (event) {
            event.stopPropagation()
        })
    </script>

    <!-- javascrip slide show -->
    <script>
        var slideIndex = 0;
        var timer = null;
        showSlides(slideIndex);

        function plusSlides(n) {
            clearTimeout(timer);
            // if (n<0)
            // n--;
            if (n == -1)
                n = 0;
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            clearTimeout(timer);
            showSlides(slideIndex = n);
        }


        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("myslides_sp");
            var dots = document.getElementsByClassName("dot_sp");
            //   if (n==undefined){n = ++slideIndex}
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            timer = setTimeout(showSlides, 2500); // Change image every 2 seconds
        }
    </script>


    @* js show more and hide *@
    <script>
        var kt = [false, false];
        function showmore(i) {
            if (kt[i - 1] == false) {
                document.getElementById("showmore" + i).style.display = "block";
                kt[i - 1] = true;
                document.getElementById("bv_more" + i).innerHTML = "Ẩn "
            }
            else {
                document.getElementById("showmore" + i).style.display = "none";
                kt[i - 1] = false;
                document.getElementById("bv_more" + i).innerHTML = "Xem thêm"
            }
        }
    </script>
    <script>

        document.getElementById("khuvuc").innerText = localStorage.area;
        function change_kv(i) {
            if (i === 1) {
                localStorage.area = "TP Hồ Chí Minh";
                document.getElementById("khuvuc").innerText = localStorage.area;
            }
            else if (i === 2) {
                localStorage.area = "Hà Nội";
                document.getElementById("khuvuc").innerText = localStorage.area;
            }
            else if (i === 3) {
                localStorage.area = "TP Đà Nẵng"
                document.getElementById("khuvuc").innerText = localStorage.area;
            }
            else if (i === 4) {
                localStorage.area = "Bình Dương";
                document.getElementById("khuvuc").innerText = localStorage.area;
            }
            else if (i === 5) {
                localStorage.area = "Hải Phòng";
                document.getElementById("khuvuc").innerText = localStorage.area;
            }
        }
    </script>

    

</body>
</html>

