﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/fdd5f8d904.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href="~/Content/ADStyle.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="container_btn_logo">
            <div class="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">TOBITO</div>
        </div>
        <div class="header-menu">
            <ul>
                <li>
                    <a href="#">Trang chủ</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-gear"></i> settings</a>
                </li>
                <li>
                    <a href="/profile.html"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <nav class="menu-left">
            <ul>
                <li>
                    <a class="menu-page" href="#"><i class="fa-solid fa-house"></i> Quản lý doanh thu <i class="fa-solid fa-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Quản lý doanh thu", "SalesChart", "Admin")</li>
                        <li><a href="#">Doanh thu theo sản phẩm</a></li>
                        <li><a href="#">Doanh thu theo đơn hàng</a></li>
                        <li><a href="#">Doanh thu theo khách hàng</a></li>
                        <li><a href="#">Biểu đồ thống kê</a></li>
                        <li><a href="#">Thông tin chi tiết về các đơn hàng và sản phẩm</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-page" href="#"><i class="fa-solid fa-person"></i> Quản lý người dùng <i class="fa-solid fa-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Danh sách người dùng", "Index", "Admin")</li>
                        <li><a href="#">Người dùng mới</a></li>
                        <li><a href="#">Product 3</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-page" href="#"><i class="fa-solid fa-gifts"></i> Quản lý đơn hàng <i class="fa-solid fa-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Đơn hàng mới", "DonHangMoi", "Admin")</li>
                        <li><a href="#">Quản lý giá cả</a></li>
                        <li><a href="#">Product 3</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-page" href="#"><i class="fa-solid fa-people-group"></i> Quản lý tài khoản <i class="fa-solid fa-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-page" href="#"><i class="fa-solid fa-mobile-button"></i> Quản lý sản phẩm <i class="fa-solid fa-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Thông tin sản phẩm", "SanPham", "Admin")</li>
                        <li>@Html.ActionLink("Quản lý giá cả", "QuanLyGia", "Admin")</li>
                    </ul>
                </li>
                <li>
                    <a class="menu-page" href="#"><i class="fa-solid fa-table-list"></i> Quản lý danh mục</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-bell"></i> Thông báo</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-gear"></i> Cài đặt</a>
                </li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
    </div>
    <script>
        $(".menu-left").hide();

        // Hiển thị menu trái khi ấn vào nút menu
        $(".menu-toggle").click(function () {
            $(".menu-left").slideToggle();
        });

        // Ẩn menu trái khi click ra ngoài
        $(document).on("click", function (event) {
            if (!$(event.target).closest(".menu-toggle, .menu-left").length) {
                $(".menu-left").slideUp();
            }
        });
    </script>
</body>
</html>